button{outline:none;background-color:#fff;border:1px solid transparent;font-size:14px;cursor:pointer;transition:all .4s;}
button.block{
  width:100%;
}
.button.primary{
  background-color:#fff;
  color:#11a668;
  border-color:#11a668;
  &:hover{
    background-color:#effbf6;
  }
}
.button.default{
  border-color:#444;
  &:hover{
    background-color:#f4f4f6;
  }
}
.button.medium{
  padding:8px 16px;
}
.button.small{
  padding:3px 8px;
}
