@import 'reset-css';
@import './container.scss';
@import './button.scss';
input{
  outline:none;
  border:none;
}
figure{
  text-align:center;
  img{
    max-width:100%;
  }
}
.ant_message{
  position:fixed;
  top:16px;
  left:0;
  right:0;
  text-align:center;
}
